<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>TA-management-system-homepage</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
     <!-- <a  href='/talogin'>
        <button class="btn btn-primary mr-2">
            Login Here
        </button>
    </a>
  -->
    <a  href="{%url 'tas' %}">
      <button class="btn mx-2" style="background-color: #ec7f37">
          Signup as TA
      </button>
  </a>


  <a  href="{%url 'talogin' %}">
    <button class="btn mx-2" style="background-color: #ec7f37">
        Login as TA
    </button>
</a>

<a  href="{%url 'facultysignup' %}">
  <button class="btn mx-2" style="background-color: #ec7f37">
    Signup as faculty
  </button>
</a>

<a  href="{%url 'facultylogin' %}">
  <button class="btn mx-2" style="background-color: #ec7f37">
    Login as faculty
  </button>
</a>

<a  href="{%url 'studentlogin' %}">
  <button class="btn mx-2" style="background-color: #ec7f37">
    Login as Student
  </button>
</a>

<a  href="{%url 'adminlogin' %}">
  <button class="btn mx-2" style="background-color: #ec7f37">
      Login as Co-ordinator
  </button>
</a>

    </nav>

    <div class="container-fluid px-0 ">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src="/static/image.jpg" class="d-block w-100" fixed alt="..." height="700">

          </div>

        </div>
      </div>

    </div>  
   
  </body>